{
  "extends": ["eslint-config-tiu", "plugin:@next/next/recommended"],

  "rules": {
    "consistent-return": "off",
    "@next/next/no-sync-scripts": 2,
    "@next/next/no-html-link-for-pages": 2,
    "@next/next/no-img-element": 2
  },
  "ignorePatterns": "*.js"
}
